body {
	margin: 0;
	padding: 0;
	background: white;
	font-family: monospace,'Microsoft JhengHei';
}

h1 {
	color: #133046;
	font-weight: 700;
	font-size: 50px;
}

ul {
	display: none;
}

#banner {
	background-image: url("http://bit.ly/2zxpobs");
	background-size: cover;
	background-position: center;
	height: 500px;
	width: 100%;
	margin: 0 auto;
}

#banner h1 {
  position: relative;
  color: white;
  top: 50px;
  width: 400px;
  margin: 0 auto;
  border: 3px solid white;
  padding: 20px;
}

.navigation {
	margin: 0;
	padding: 20px;
	text-align: left;
  
}

.navigation a {
	background: #133046;  /*沒有的話顏色會回不來哭哭*/
	border: 1px solid #133046;
	border-radius: 10px;
	color: white;
	font-weight: 100;
	font-size: 16px;
	text-decoration: none; /*隱藏超連結底線*/
	display: inline-block; /*不會貼齊邊線*/
	/*letter-spacing: 2px;*/
	margin: 5px;
	padding: 15px;
}

.navigation a:hover {
	background: white;
	border: 1px solid #133046;
	color: #133046;
}
